/* Body */
body{
    background-color: rgba(237, 237, 237, 0.897); 
}
/* Navbar */
.navbar{
    max-height: 60px; 
}
.navigation .navbar-brand{
    color: white; 
    margin-left: 25px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: rgb(10, 129, 123);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    background-color: white; 
    font-size: 15px; 
}
.active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:rgba(231, 231, 231, 0.904); 
}
.dropdown-item{
    color: gray; 
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:rgba(231, 231, 231, 0.904); 
}
a{
    color: gray;
    font-size: 15px; 
}
.nav-link:hover{
    background-color:rgba(231, 231, 231, 0.904);
   }

.navbar-brand:hover{
color: rgb(175, 175, 175);
}

/* Title Class  */
.title{
    color: #0BADA6;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold; 
    padding-top: 25px; 
}
/* Paragraph Element */
p{
 color: #6D8092;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 15px; 
}
/* Box Class */
.box {
    margin-top: 60px; 
    margin-bottom: 60px; 
    padding: 10px 15px 15px; 
    color:black;
    background-color: white; 

  }
/* Table */
  .table{
    font-size: 15px; 
    border-top-color: white ; 
}
/* Footer */
footer{
background-color: gray; 
border-top-style: solid; 
border-top-width: 5px; 
border-top-color:  rgb(11, 173, 166);
color: white; 
min-height: 55px; 
font-family: Arial, Helvetica, sans-serif;
font-size: 15px; 
text-align: center; 
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px; 
}

/* Images */
img{
    width:100%;
    height:100%;
}
.active, .panel:hover{
    border-color: rgb(11, 173, 166);
    border-style: solid; 
    
}
.vizualization{
    width:50%;
    height:50%;
}


/* Media Queries */
@media(max-width: 840px){
.navbar-expand-lg{
background-color:  rgb(11, 173, 166);
}
.navbar{
    max-height: none; 
    padding: inherit;
}
.navbar div{
    margin: inherit; 
    background-color: white;  
}
.navbar-brand{
    padding: 10px; 
}

button{
    margin-right: 30px; 
}
button:focus {

    outline: 1px dotted;
    outline: 5px auto -webkit-focusring-color;
    
    }
}